@font-face {
    font-family: "Roboto", sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Roboto");
}

body
{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f7f7f7;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    width: 60%;
}